<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- ================================= -->
   <!-- Preserve messages in a local file -->
   <!-- ================================= -->

   <!-- Application Log-File -->
  <appender name="SCHEDULER-LOGFILE" class="com.orga.jaf.util.log.appender.TimeStampFileAppender">
    <param name="File" value="../server/opsc-gold/log/SCHEDULERLOG_{yyyyMMdd'-'HHmmss}"/>
    <param name="Append" value="false"/>
    <param name="Encoding" value="UTF-8"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      <!-- param name="ConversionPattern" value="%-30.30X{logContext}:%d{ddMM HHmmss.SSS}:%-1.1X{logLevel}:%-12.12X{logId}:%m%n"/-->
    </layout>
  </appender>

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="TRACE"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
    </layout>
  </appender>

   <!-- ====================== -->
   <!-- Limit JBoss categories -->
   <!-- ====================== -->
   <category name="org.jboss.ejb.client">
     <priority value="WARN"/>
   </category>
   
  <!-- =================================================================== -->
  <!-- Setup the Root category                                             -->
  <!-- =================================================================== -->

  <root>
    <level value="INFO" />
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>
